<div class="container my-5">
    <div class="d-flex justify-content-center col-12">
        <div class="row">
            <% @images.each do |image| %>
                <div class="col-3">
                    <%= link_to image_tag(image.image, class: "image-user-index mt-3"), image_path(image.id) %>
                    <% if current_user %>
                        <div class="container d-flex">
                            <div class="col-11">
                                <% like = current_user.likes.find_by(image: image) %>
                                <% if like.nil? %>
                                    <%= button_to likes_path(like: { image_id: image.id }), method: :post, class: "btn" do %>
                                        <i class="far fa-heart"></i>
                                    <% end %>
                                <% else %>
                                    <%= button_to like_path(like), method: :delete, class: "btn" do %>
                                        <i class="far fa-heart text-danger"></i>
                                    <% end %>
                                <% end %>
                            </div>
                            <div>
                                <% save_image = current_user.save_images.find_by(image: image) %>
                                <% if save_image.nil? %>
                                    <%= button_to save_images_path(save_image: { image_id: image.id }), method: :post, class: "btn" do %>
                                        <i class="far fa-bookmark"></i>
                                    <% end %>
                                <% else %>
                                    <%= button_to save_image_path(save_image), method: :delete, class: "btn" do %>
                                        <i class="far fa-bookmark text-success"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <div class="container d-flex mt-2">
                        <% if image.user.avatar.attached? %>
                            <%= link_to image_tag(image.user.avatar, class: "mini"), profile_path(image.user.username) %>
                        <% else %>
                            <%= link_to image_tag("/images/no_photo.png", :class => "mini"), profile_path(image.user.username) %>
                        <% end %>
                        <p class="fw-bold ms-2 mt-1"><%= link_to image.user.username, profile_path(image.user.username), class: "search-text" %></p>
                        <p class="mx-2 mt-1"><%= image.description %></p><br>
                    </div>
                    <div class="text-end container">
                        <small class="text-muted ms-4"><%= time_ago_in_words image.created_at %> ago</small>
                        <%#= link_to "View Image", image_path(image.id), class: "btn btn-secondary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>